@model FablabCatalagoVirtualCapasEN.InscripcionClub

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/inscripcionClub.css")" />
}

<h2 class="txt">Inscribirme en un club</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.IdAutor) <!-- Campo oculto para el ID del autor -->

	<div class="inscripcion-form">

		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@Html.LabelFor(m => m.IdClub, "Selecciona un Club", new { @class = "inscripcion-form-txt" })
			@Html.DropDownListFor(m => m.IdClub, (SelectList)ViewBag.Clubes, "Selecciona un Club", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.IdClub, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Detalle, new { @class = "inscripcion-form-txt" })
			@Html.TextBoxFor(m => m.Detalle, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Detalle, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

