@model IEnumerable<FablabCatalagoVirtualCapasEN.InscripcionClub>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/inscripcionClub.css")" />
}

<h2 class="txt">Mis Inscripciones</h2>

<div id="alert-message-success" class="alert alert-primary alert-dismissible fade show" role="alert">
	Ya has realizado la inscripcion en linea ahora acercate a nuestras instalaciones para poder 
    dar toda la informacion necesaria para poder ser formalmente mienbro de un club.
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           ¿
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
           
        </tr>
    }

</table>
