@model FablabCatalagoVirtualCapasEN.SolicitudProyectos

@{
	ViewBag.Title = "Nueva Solicitud de proyecto";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal ">
	<h2 class="txt">Agregar nueva Solicitud de Proyecto</h2>
	<hr />
	<div class="alert alert-secondary">
		<div class="row g-2">
			<div class="col-md">
				<div class="form-floating">
					@Html.DropDownListFor(model => model.TipoProyecto,
						new SelectList(new List<SelectListItem> {
							new SelectListItem { Value = "Investigación Institucional", Text = "Investigación Institucional" },
							new SelectListItem { Value = "Investigación Tecnológica", Text = "Investigación Tecnológica" },
							new SelectListItem { Value = "Investigación de Cátedra", Text = "Investigación de Cátedra" }
						}, "Value", "Text"),
						"Selecciona una opción",
						new { @class = "form-select" }
					)
					<label for="floatingSelect">Tipo de Proyecto</label>
				</div>
			</div>
			<div class="col-md">
				<div class="input-group has-validation">
					<div class="form-floating is-invalid">
						@Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", placeholder = "Descripción", required = "required" })
						<label for="floatingInputGroup2">Descripción</label>
					</div>
					<div class="invalid-feedback">
						Por favor, rellena el campo obligatorio.
					</div>
				</div>
			</div>
		</div>

		<div class="row g-2">
			<div class="col-md">
				<div class="form-floating">
					@Html.DropDownListFor(model => model.Integrantes,
						new SelectList(new List<SelectListItem> {
							new SelectListItem { Value = "1", Text = "Solo yo" },
							new SelectListItem { Value = "2", Text = "2" },
							new SelectListItem { Value = "3", Text = "3" },
							new SelectListItem { Value = "4", Text = "4" },
							new SelectListItem { Value = "5", Text = "5" },
							new SelectListItem { Value = "5+", Text = "5+" }
						}, "Value", "Text"),
						"Selecciona una opción",
						new { @class = "form-select" }
					)
					<label for="floatingSelect">Número de integrantes</label>
				</div>
			</div>
		</div>

		<div class="row g-2 spaciado">
			<div class="col-md">
				<button class="btn btn-danger" type="submit">Guardar Información de la solicitud</button>
			</div>
		</div>
		</div>
	</div>
	}
	<div class="alert alert-primary spacing" role="alert">
		Recordar que al registrar una nueva solicitud de proyecto entrara en proceso la aceptacion la cual la realizaran personal administrativo
		de la institucion.
		Puedes estar pendiente en la seccion de mis solicitudes para estar al tanto del estado de tu solicitud ya que ahi te notificara si tu
		solictud fue aprobada o no.
	</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
